/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

.viewer-container {
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
}
